<script setup lang="ts">

import IconShoppify from '@/components/icons/IconShoppify.vue';
import Button from '@/components/Button.vue';

defineProps(['brand'])
</script>

<template>
<div class="bg-emerald-100 border border-emerald-200 rounded p-4">
    <h2 class="text-2xl">{{ brand.Name }}</h2>
    
    <div class="flex justify-between mt-4">
        <div>
            <h3 class="font-bold">Product(s)</h3>
            <div>{{ brand.Product }}</div>
        </div>

        <div class="flex flex-col items-center">
            <p><strong>Match score:</strong> 97%</p>
            <IconShoppify class="text-8xl"/>
            <p class="text-xl font-bold">4.7/5</p>
        </div>
    </div>
    <div class="flex justify-center mt-6">
        <Button class="w-full md:w-3/4">View</Button>
    </div>
    
</div>
</template>
