<script setup lang="ts">
import { RouterView } from 'vue-router'
import Header from './layout/Header.vue'
import SideMenu from './layout/SideMenu.vue'
</script>

<template>

    <Header />

    <div class="flex-1 flex">
        <SideMenu />

        <div class="flex-1 m-2 sm:m-4 md:m-8 lg:m-10 xl:m-14">
            <RouterView />
        </div>
    </div>

 
</template>
