<script setup lang="ts">
import { RouterLink } from 'vue-router'
import IconCommentDots from '@/components/icons/IconCommentDots.vue'
import IconUser from '@/components/icons/IconUser.vue'
import IconBell from '@/components/icons/IconBell.vue'

</script>

<template>
    <div class="flex-none flex items-center justify-between h-16 px-6 bg-emerald-300 border-b border-emerald-400">
        <div class="text-2xl text-emerald-900">
            <RouterLink to="/">Company Name</RouterLink>
        </div>

        <div class="flex text-2xl space-x-4">
            <IconCommentDots class="fill-emerald-900" />
            <IconBell class="fill-emerald-900" />
            <IconUser class="fill-emerald-900" />
        </div>
    </div>
</template>
