<script setup lang="ts">
import { RouterLink } from 'vue-router'
</script>

<template>
    <ul class="bg-emerald-50 border-r border-emerald-100 text-lg px-4 py-5 space-y-4 w-32 md:w-48 md:text-xl">
        <li><RouterLink to="/partners" class="px-4 py-2">Partners</RouterLink></li>
        <li><RouterLink to="/criteria" class="px-4 py-2">Criteria</RouterLink></li>
        <li><RouterLink to="/account" class="px-4 py-2">Account</RouterLink></li>
    </ul>
</template>

<style scoped>
.router-link-active {
    @apply text-emerald-700;
}
</style>