<script setup lang="ts">
import type { Brand, BrandGroup } from "@/types";
import { collect } from 'collect.js';
import BrandCard from "@/components/BrandCard.vue";
import Heading from "@/components/Heading.vue";
import { ref, onMounted } from 'vue';

const brandGroups = ref<BrandGroup[]>()
const search = ref()

function fetchData(search:string) {

    var query:string = ""
    if (search.length > 0) {
        query += "/" + search
    }

    fetch(import.meta.env.VITE_API_BASE_URL + '/api/brands' + query, {
            method: "GET",
            mode: "cors"
        })
        .then(response => {
            response.json().then((data: Brand[]) => {
                brandGroups.value = collect(data)
                    .groupBy<Brand[], string[]>((item:Brand) => [item.Category, item.Location])
                    .map<BrandGroup>((item:Brand[], index:string) => {
                        const parts = index.split(",")
                        return {
                            category: parts[0], 
                            location: parts[1], 
                            brands: item
                        }
                    })
                    .all()
            });
        })
        .catch(err => {
            console.error(err);
        });
}

onMounted(() => fetchData(""))

</script>

<template>
    <Heading>Criteria</Heading>

    <div v-for="(group, _, index) in brandGroups">
        <h2 class="text-2xl mb-2">{{ index+1 }}. Top {{ group.category }} brands in {{ group.location }}</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4 mb-4">
            <BrandCard v-for="brand in group.brands" :brand="brand" />
        </div>
    </div>

    <input class="border w-full 2xl:w-1/2 px-4 py-2 rounded-full border-emerald-400 hover:border-emerald-200" placeholder="Filter results" v-model="search" @input="fetchData(search)" />
</template>
